<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2 th:text="#{offer.en}">Ofertas</h2>
		<p th:text="#{offers.find.message}"></p>
		<form class="navbar-form" action="/offer/search">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					th:placeholder="#{find.placeholder.message}">
			</div>
			<button th:text="#{ident.search}" type="submit"
				class="btn btn-default">Buscar</button>
		</form>
		<div class="table-responsive" th:fragment="tableOffers" id="tableOffers">
			<table class="table table-hover" >
				<span class="text-danger" th:if="${fail==true}"  th:text="#{message.buy.fail}"></span>
				<thead>
					<tr>
						<th th:text="#{offer.title}">Título</th>
						<th th:text="#{details.message}">Detalles</th>
						<th th:text="#{price.message} + ' €'">Precio</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offerList}">
						<td th:text="${offer.title}">Lavadora</td>
						<td th:text="${offer.details}">5200 rpm, nueva</td>
						<td th:text="${offer.price}">10</td>
						<td th:if="${offer.purchase==null}">
							<button type="button" th:id="${'buyButton' + offer.id}"
								th:text=#{ident.buy} class="btn btn-success">Comprar</button>
							<script th:inline="javascript">
								/*<![CDATA[*/
								$("#buyButton[[${offer.id}]]")
										.click(function() {
											$.get( "/offer/buy/[[${offer.id}]]", function( data ) {
												$("#tableOffers").load('/offer/search/update');
											});
										});
								/*]]>*/
							</script>
						</td>
						<td th:unless="${offer.purchase==null}">
						<button type="button" th:id="${'boughButton' + offer.id}"
								th:text=#{ident.bought} class="btn btn-danger">Comprado</button>
						
						</td>
					</tr>
				</tbody>
				
			</table>
			<footer th:replace="fragments/pagination" />
		</div>
		
	</div>
	<footer th:replace="fragments/footer" />

</body>
</html>
